.line-bp {
  color: #fff;
  background-color: #738377
}

.line-cc {
  color: #000;
  background-color: #ff9f18;
}

.line-ce {
  color: #fff;
  background-color: #0355b3;
}

.line-cg {
  color: #fff;
  background-color: #0355b3;
}

.line-dt {
  color: #fff;
  background-color: #0055b8;
}

.line-ew {
  color: #fff;
  background-color: #00953b;
}

.line-je {
  color: #fff;
  background-color: #01acbd;
}

.line-js {
  color: #fff;
  background-color: #01acbd;
}

.line-jw {
  color: #fff;
  background-color: #01acbd;
}

.line-ne {
  color: #fff;
  background-color: #9e27b5;
}

.line-ns {
  color: #fff;
  background-color: #e2261b;
}

.line-pe {
  color: #fff;
  background-color: #6c8172;
}

.line-pw {
  color: #fff;
  background-color: #6c8172;
}

.line-se {
  color: #fff;
  background-color: #6c8172;
}

.line-sw {
  color: #fff;
  background-color: #6c8172;
}

.line-te {
  color: #fff;
  background-color: #9e5a19;
}

.line-jw {
  color: #fff;
  background-color: #0355b3;
}
