.result-box {

  max-height: 500px;
  overflow-y: auto;

  .route-wrapper {
    border-bottom: solid 3px red;
    padding: 10px 10px 0;

    .route-title {
      font-style: italic;
      font-weight: bold;
      font-size: 16px;
      text-shadow: 1px 1px 0px lightblue;
    }

    .path-step>div {
      display: inline-block;
    }
  }
}
